@model XiangMu.MVC.Model.Withs

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WithsCreate</title>
   
</head>
<body>
    @using (Html.BeginForm("WithsCreates", "Withs", FormMethod.Post, new { @enctype = "multipart/form-data" })) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Withs</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            跟车员名称
            <div class="col-md-10">
                @Html.EditorFor(model => model.WName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WName, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            籍贯
            <div class="col-md-10">
                @Html.EditorFor(model => model.WNative, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WNative, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            身份证
            <div class="col-md-10">
                @Html.EditorFor(model => model.WIdentity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WIdentity, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            联系方式
            <div class="col-md-10">
                @Html.EditorFor(model => model.WPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WPhone, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            家庭住址
            <div class="col-md-10">
                @Html.EditorFor(model => model.WSite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WSite, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            备注
            <div class="col-md-10">
                @Html.EditorFor(model => model.WRemark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WRemark, "", new { @class = "text-danger" })
            </div>
        </div>
    
            <div class="form-group">
                图片
                <div class="col-md-10">
                    <input id="File1" type="file" name="file" />
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
